#sheet{
    background-color: #fff;
    width: 100%;
    max-width: 350px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 30px;
}
#sheet-inner{
    justify-content: space-between;
    position: relative;
    margin: 10px 0;
}
#sheet .line{
    display: flex;
    align-items: center;
    height: 0px;
    margin: 10px 0;
}
#sheet-inner .line:first-of-type{
    margin-top: 0;
}
#sheet-inner .line:last-of-type{
    margin-bottom: 0;
}
#sheet .line::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
}
#sheet-top .line,
#sheet-bot .line{
    width: 35px;
    margin-left: 60%;
    transform: translateX(-53%);
}

#sheet #sol{
    position: absolute;
    top: -51%;
    left: 10%;
    height: 195%;
}
#sheet #fa{
    position: absolute;
    top: 2%;
    left: 10%;
    height: 75%;
}
#sheet #note{
    position: absolute;
    left: 60%;
    transform: translateY(-28%) translateX(-50%);
    height: 90%;
}
#sheet #note.rotate{
    transform: translateY(39%) translateX(-50%) scaleY(-1);
}
#sheet #diese{
    position: absolute;
    left: 51%;
    transform: translateY(50%) translateX(-50%);
    height: 50%;
    opacity: 0;
}
#sheet #diese.active{
    opacity: 1;
}